body{
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    color: #666;
    line-height: 1.7;
}

a{
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}
a:hover{
    border-bottom-color: transparent;
}

p{
    margin: 0 0 2em;
}

img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}

h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 15px;
}

sub, sup{
    font-size: 12px;
}
blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}
blockquote p{
    margin-bottom: .5em;
}
blockquote p:last-child{
    margin-bottom: 0;   
}

code{
    background: #f7f7f7;
    border-radius: .35em;
    border:2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: "courier new", monospace;
    color: #929292;
}

pre code{
    display: block;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}
li{
    padding-left: .5em;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
}

.ul-alternate{
    list-style-type: none;
    padding-left: 0; 
}
.ul-alternate li{
    border-bottom: 2px solid #d8d8d8;
    padding-left: 0;
}
.ul-alternate li:last-child{
   border: 0; 
}

.ul-icons{
    list-style-type: none;
    padding-left: 0; 
}
.ul-icons li{
    display: inline-block;
    font-size: 2em;
    color: #49bf9d;
}

input, label, textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
input, textarea, select{
    background: #ccc;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid transparent;
    margin-bottom: 15px;
}
input[type="radio"], input[type="checkbox"]{
    width: auto;
}
input:focus, textarea:focus{
    border: 3px solid #49bf9d;
    outline: none;
}
textarea{
    height: 10em;
}

.button-default{
    background-color: #49bf9d;
    border: 3px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    display: inline-block;
    width: auto;
    transition: all .5s;
    cursor: pointer;
}
.button-default:hover{
    background-color: #5ddeb9;
    border-color: transparent;
}
.button-default-stroke{
    background-color: white;
    border-color: #efefef;
    color: inherit;
}
.button-default-stroke:hover{
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white; 
}

.button-default-small{
    font-size: .65em;
}
.button-default-big{
    font-size: 1em;
}
.button-default-full{
    display: block;
    text-align: center;
}

.imagem-link{
    border: 0;
}

.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}
.table td{
    padding: .75em;
}
.table th{
    background: #ccc;
    padding: .75em;
}
.table tbody tr td{
    border-bottom: 1px solid #ccc;
}
.table tbody tr:first-child td{
    border-top: 2px solid #666;
}
.table tbody tr:last-child td{
    border-bottom: 2px solid #666;
}

.table tbody tr:nth-child(even) td{
    background: #eee;
}

.table-alternate tbody td, .table-alternate tbody tr:first-child td, .table-alternate tbody tr:last-child td{
    border: 1px solid #ddd;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.main-header-title{
    font-size: 22px;
    line-height: 1.5;
    color: white;
    font-weight: normal;
    color: rgba(255, 255, 255, .5);
}
.main-header-title strong{
    color: white;
    font-weight: normal;
}
.main-header-link{
    color: inherit;
}
.main-header-link:hover{
    color: #49bf9d;
}

.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}

.main-header-link img{
    border-radius: 50%;
    overflow: hidden;
}

.recent-works-card img{
    border-radius: 10px;
    overflow: hidden;
}


.gallery-img img{
    width: 100%;
}
.gallery-thumb img, .gallery-img img{
    margin-bottom: 2%;
    display: inline-block;
    border-radius: 5px;
}


.img-left{
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(00, 00, 00, 0.4);
}

.img-right{
    float: right;
    border-radius: 5px;
    box-shadow: -2px 2px rgba(00, 00, 00, 0.4);
}



.main-footer{
    position: fixed;
    bottom: 0;
    width: 35%;
    left: 0;
    padding: 0 54px 72px 0;
    box-sizing: border-box;
    text-align: right;
}
.main-footer a{
    color: rgba(255, 255, 255, 0.4);    
    text-decoration: none;
}
.main-footer a:hover{
    color: #49bf9d;   
}
.main-footer .ul-icons a{
  font-size: .75em;   
    border-bottom: none;
}
.copyright{
    list-style: none;
}
.copyright li{
    display: inline-block;
    border-left: solid 1px rgba(255, 255, 255, 0.25);
    padding: 0 0.75em;
    line-height: 1;
    font-size: .8em;
}
.copyright li:first-child {
    border-left: 0;
}
.copyright li:last-child {
    padding-right: 0;
}
/* Grid */
.row{
    overflow: auto;
}

.col-2{
    width: 48.5%;
    float: left;
}
.col-2:first-child{
    margin-right: 1.5%;
}
.col-2:last-child{
    margin-left: 1.5%;
}
.col-2-3{
    width: 66%;
    float: left;
}
.col-1-3{
    width: 32%;
    float: left;
}
.col-1-3:nth-child(3n - 2){ /* 1, 4, 7*/
   margin-right: 2%;
}
.col-1-3:nth-child(3n){ /* 3, 6, 9*/
   margin-left: 2%;
}

.col-2-3 + .col-1-3, .col-1-3 + .col-2-3{
    margin-left: 2%;
}


